.profolio_container{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    /* height: 1000px; */
}
.profolio_left{

    flex-basis: 35%;
    flex-shrink: 1;
    text-align: center;
}

.profolio_left_content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    margin-top: 10%;
}

.profolio_right{
    flex-basis: 65%;
    flex-shrink: 1;
}

.profolio_right_content{
    margin-top: 10%;
}

.head_image_cropper{
    width: 50%;
    /* height: 100px; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;

}

.outter_links_container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

.outter_links_div{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



.outter_links_div a{
    
    color: black;
    text-decoration:none ;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.outter_links_div div{
    margin-left: 5px;
}

.outter_links_div a div:hover{
    
    text-decoration:underline ;
    
}

.section_div{
    display:flex;
    
}

.section_div h3{
    margin-right: 3px;
}

.name_div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.name_div .fordesktop {
    display:block;
}
.name_div .formobile {
    display: none;
}

.blog_li  > *:nth-of-type(1) {
    display:block;
}
.blog_li  > *:nth-of-type(2) {
    display:none;
}


@media (max-width: 640px) {
    .outter_links_div a div{
        display: none;
    }
    .name_div .fordesktop {
        display: none;
    }
    .name_div .formobile {
        display:block;
    }
    .blog_li  > *:nth-of-type(1) {
        display:none;
    }
    .blog_li  > *:nth-of-type(2) {
        display:block;
    }
}



